.container {
  background-image: url("../../images/bg-intro-desktop.png");
  min-height: 95.2vh;
  background-color: hsl(0, 100%, 74%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px 0px 0px;
  gap: 50px;
  margin: 0px auto 0px auto;
}

.titleContainer {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 0px 0px 200px;
  margin: 0px 0px 50px 0px;
}

.title {
  font-size: 50px;
  font-weight: 700;
}

.text {
  font-size: 26px;
}

.formContainer {
  padding: 0px 250px 0px 0px;
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .titleContainer {
    padding: 0px 0px 0px 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    gap: 0px;
  }

  .titleContainer {
    padding: 0px 0px 0px 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    gap: 0px;
  }
  .titleContainer {
    padding: 0px 0px 0px 80px;
  }
  .formContainer {
    padding: 0px 100px 0px 0px;
  }
}
